*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:#0A0A0A;
    color: white;
}

.nav-item a{
    color: grey;
}
.nav-item :hover{
    color:black;
    background-color: whitesmoke;
    border-radius: 5px;
}
.carousel-inner img{
    height: 850px;
    width: 100%;
    object-fit:cover;
}
.shop-card{
    background-color: #252424e7;
    color: white;
    border-radius: 1rem;
    transition: 1s scale(1.1);
    
}
.shop-card:hover{
    border-color:#00B0FF;
    scale:1.1;
}